body {
    color: black;
    font-size: 16px;
/*    display: flex;
    justify-content: center;*/
}
.container{
    position: relative;
    width: 100%;
    max-width: 1154px;
/*    left:100px;*/
    height: 439px;
    align-items: center;
    background: linear-gradient(107.26deg, rgba(255, 169, 3, 0.37) 2.42%, rgba(255, 169, 3, 0.179219) 99.99%, rgba(255, 169, 3, 0) 100%);
    border: 1px solid #000000;
    box-sizing: border-box;
    
}

.group1{
    position: absolute;
    width: 601px;
    height: 252px;
    left: 98px;
    top: 78px;
}

.titlepart1{
    position: absolute;
    width: 591px;
    height: 46px;
    left: px;
    top: px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 42px;

    color: #E97517;
}
.text1{
    position: absolute;
    width: 603px;
    height: 70px;
    left: px;
    top: 52px;

    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;
    
}
.text2{
    position: absolute;
    width: 603px;
    height: 70px;
    left: px;
    top: 122px;

    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;
    
}
.text3{
    position: absolute;
    width: 603px;
    height: 70px;
    left: px;
    top: 198px;

    
    font-family: montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;
    
}
.contact1{
    position: absolute;
    width: 575px;
    height: 28px;
    left: 98px;
    top: 411px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}
.orsanmachine{
    /* orsanmachine */
    position: absolute;
    width: 295px;
    height: 285px;
    left: 763px;
    top: 78px;
    background: url('../image/machine.png');
    border: 1px solid #000000;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 72px;
    max-width: 100%
}
@media screen and (min-width:100px) and (max-width:1000px) {
    .container{
        position: relative;
        width: 396px;
        height: 667px;
        background: linear-gradient(162.46deg, rgba(255, 169, 3, 0.37) 0%, rgba(255, 169, 3, 0) 100%);
    }
   
   .orsanmachine{
        position: absolute;
        width: 296px;
        height: 285px;
        left: 46px;
        top: 24px;
    
        background: url('../image/machine.png');
        border: 1px solid #000000;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 72px;
    }
    .group1{
        position: absolute;
        width: 296px;
        height: 229px;
        left: 46px;
        top: 333px;
    }
    .titlepart1{
        position: absolute;
        width: 309px;
        height: 24px;
        left: 0px;
        top: 0px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #E97517;
    }
    .text1{
        position: absolute;
        width: 309px;
        height: 87px;
        left: 0px;
        top: 26px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #000000;
        
    }
 .text2{
        position: absolute;
        width: 309px;
        height: 87px;
        left: 0px;
        top: 113px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #000000;
        
    }
 .text3{
        position: absolute;
        width: 309px;
        height: 87px;
        left: 0px;
        top: 200px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #000000;
        
    }
    .logodu {
        position: absolute;
        width: 151px;
        height: 87px;
        left: 0px; 
        top: calc(142px - 87px/2);
    }
    .contact1{
        position: absolute;
        width: 309px;
        height: 28px;
        left: 46px;
        top: 0px;
    
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
 
        color: #000000;
    }
}